
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* /* Flexbox stuff * */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    
    /* Background styles */
    background-image: url(assets/sindile_.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif; */
  /* } */
  /* body {
    background: #25303B;
  } */
  

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

footer {
  text-align: center;
  padding: 3px;
  background-color:orange;
  color: white;
}